body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.card-image img {
    border-top-left-radius: 10px;  
    border-top-right-radius: 10px;
    width: 100%;
    height: 200px; 
}

.card-content {
    margin: 10px;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.title p {
    font-size: 18px; 
    margin: 0; 
}

.info-1 p {
    color: #666;
    margin: 0;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-rating, .card-price {
    display: flex;
    align-items: center;
}

.number-rating, .star {
    margin-right: 5px; 
}

.star svg {
    width: 20px; 
    height: 20px;
}

.card-price p {
    font-weight: bold; 
    margin: 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 14px;
}

.footer-section h3 {
    margin-top: 0;
    color: #ccc;
}

.footer-section p {
    margin: 5px 0;
}

.footer-social {
   
    display: flex;
    justify-content: flex-start; 
    gap: 10px;
}

.footer-social svg{
    width: 24px;
    height: 24px;
}